!set header_js_editor=\
<link type="text/css" rel="stylesheet" href="html/css/editor/style.css" />\
<link type="text/css" rel="stylesheet" href="html/css/editor/infobulle.css"  />\
<link type="text/css" rel="stylesheet" href="html/css/editor/jalonStylesHUD.css" />\
<script> var version = "$lang";</script>\
<script src="scripts/js/editor/JSeditor.js"></script>\

