
!readproc model/makelist.proc
<p>$name_availablemodels</p>

<div id="models_list">
  <ul>
    !for t in $types
      !if $(type_$t)!=$empty
        !default name_$t=$t
        <li><a href="#$t">$(name_$t)</a></li>
      !endif
    !next t
  </ul>

  !for t in $types
    !if $(type_$t)!=$empty
      <div id="$t">
        $table_header
          <caption>$(name_$t)</caption>
          $table_hdtr
            <th>$wims_name_Type</th>
            <th>$wims_name_action</th>
          </tr>
          !for f in $(type_$t)
            !set r=!record 1 of model/model.$lang/src/$f.oef
            !set r=!line 1 of $r
            $table_tr
              <td style="text-align:left;">
                $(tit_$f)
                <div class="formHelp">$(desc_$f)</div>
              </td>
              <td>
                !set wims_ref_class=wims_button
                !href cmd=resume&level=3&mode=model&model=$f&realtest=yes $name_demo

                !set wims_ref_class=wims_button
                !href cmd=reply&level=2&mode=model&model=$f $wims_name_adapt

                !set wims_ref_class=wims_button_help
                !href target=wims_mhelp cmd=help&special_parm=model,1,$f $wims_name_help
              </td>
            </tr>
          !next f
        $table_end
      </div>
    !endif
  :end
  !next t
</div>

!if $jquery_defined=yes
  <script>
    /*<![CDATA[*/
    jQuery(function($$) {
        $$("#models_list").tabs();
      });
    /*]]>*/
  </script>
!endif

!read lang/names.phtml.$modu_lang model

!reset mode
