
<div class="wims_msg info">$name_restore1: $restored.</div>
!if $user_bad!=$empty
  <p>$name_restore2</p>
!endif

!if $exp_bad!=$empty
  <p>$name_restore3 $(e$exp_bad).</p>
!endif

!if $user_loginused!=$empty
  <p>$name_restore4: $(user_loginused).</p>
!endif
