
You can work as a participant of a class, if you are a student and your
teacher has created a class for you.
<p>
In order to work in a class, you should first register yourself
 to that class. This often requires a class password which can only be
obtained from your teacher.
<p>
Once registered, you can use your login name and (personal) password to sign
in to the class and work in it.
<p>
The class contains a certain number of worksheets. Each worksheet has a
number of works the teacher has assigned to you. Some of the works have
associated (required) scores. You can click on the work item to work on it.
Each time you successfully finish a work (an exercise), you will get some
points for your success. These points are accumulated in your register for
this exercise, until the number of points you got reaches the required
number. At the mean time, the quality of your points is also computed by the
server and shown at the end of the exercise. Your teacher may use these
numbers (number of points obtained and quality) to control your
progress. You can also compare your score with the average of the class.

