!! Questions can be put in this file. Usually it is by html forms.
!! Here is an example of the design of reply form. You are free to modify.

!form reply
	<ul>
		<li><label for="x">x = </label><input size="40" id="x" name="x" value="$x" /></li>
		<li><label for="y">y = </label><input size="40" id="y" name="y" value="$y" /></li>
	</ul>
	<p class="send_answer">
	<input type="submit" value="$wims_name_send" />
	</p>

!formend

