!! on a besoin de databyday
!set dataelse=!line 2 to -1 of $databyday
!if $dataelse=$empty
  !exit
!endif
!set datax=!declosing $(databyday[1;1])
!set day=!declosing $(databyday[1;2])
!set datay=!declosing $(databyday[1;3])
!set dataz=!declosing $(databyday[1;4])
!set datagood=!declosing $(databyday[1;5])
!set datanew=!declosing $(databyday[1;6])

!set nbs=!itemcnt $showsheet_
<h2 class="activity_title">
!if $nbs=1
  $wims_name_Sheet
!else
  $wims_name_Sheets
!endif
!replace internal , by ,$ $ in $showsheet_
</h2>
!read script/draw

!if $nbs>1
  !!on regarde chacune des feuilles
  !distribute items $wims_name_Sheet,$wims_name_Sheets into name,names
!else
  !!on regarde chacun des exos
  !distribute items $wims_name_Exercise, $wims_name_sheet_exos $showsheet_ into name,names
!endif
!set linecnt=!linecnt $dataelse
<hr />
 <h2 class="activity_title">$names</h2>
<ul class="inline">
!for nn=1 to $linecnt
  !set line=!line $nn of $dataelse
  !set exo=$(line[1])
  !set datay=!declosing $(line[3])
  !if $datay=$empty
    !break
  !endif
  !set dataz=!declosing $(line[4])
  !set datagood=!declosing $(line[5])
  !set datanew=!declosing $(line[6])
  <li style="vertical-align:bottom;">
  !read script/draw
  <p class="activity_title wimscenter">$name $exo</p>
  </li>
!next
 </ul>
