!read adm/title.phtml 3\
$name_dellevel0 <em>$class_description</em>

!read lang/warning.phtml.$moduclass_lang dellevel

<div class="wimscenter">
!set wims_ref_class=wims_button
!href cmd=reply&job=$job&del=$del&confirm=yes $wims_name_yes
 $
!set wims_ref_class=wims_button wims_secondary_button
!href cmd=reply&job=first $wims_name_no

</div>
