
!read adm/title.phtml 3\
$name_deltest0 <em>$class_description</em>

!read lang/warning.phtml.$moduclass_lang deltest
<div class="wimscenter">
!set wims_ref_class=wims_button
!href cmd=reply&job=$job&del=$del&confirm=yes&cparent=$parent $wims_name_yes
 $
!set wims_ref_class=wims_button wims_secondary_button
!href cmd=reply&job=$parent $wims_name_no
</div>
