<!-- _widgets/docheadermenu.phtml -->

<div class="wimsmenu menu">
 !if _mfeed isin $wims_session
  <span class="menuitem">
   !set wims_ref_class=doch_class
   <a href="#" onclick="window.close()" class="doch_class">$wims_name_back2</a>
   !reset wims_ref_class
  </span><!-- menuitem-->
 !endif
 !if help notin $wims_session and _mfeed notin $wims_session and $doc!=$helpd
  !if $wims_class=$empty
   !!<span class="menuitem">
    !!read $oneitem doch_wims,1,module=home
   !!</span><!-- menuitem-->
  !else
    !if _doc isin $wims_session
    <span class="menuitem">
     !set wims_ref_class=doch_class
     <a href="#" onclick="window.close()">$wims_name_doch_class</a>
     !reset wims_ref_class
    </span><!-- menuitem-->
    !else
    !!<span class="menuitem">
     !!read $oneitem doch_class,1,module=home
    !!</span><!-- menuitem-->
    !endif
  !endif
!else
   <span class="menuitem">
     !set wims_ref_class=doch_class
     <a href="#" onclick="window.close()" class="doch_class">$wims_name_back2</a>
     !reset wims_ref_class
    </span><!-- menuitem-->
!endif
!!! FIXME mettre dans le menu de gauche ??
!!! link on the list of documents.
 !if ..//adm/doc isin ..//$module \
    and ($wims_class=$empty and $wims_developer=$empty) \
    and $doctype!=devel and _help notin $wims_session and $doc!=$helpd
  <span class="menuitem">
   !read $oneitem doch_docs,1,module=$module&cmd=reply&job=home
  </span><!-- menuitem-->
 !endif
 !!if $printable!=yes
  !if $job=exosource
   <span class="menuitem">
    !read $oneitem doch_back,1,cmd=reply&job=read
    !reset wims_ref_class
   </span><!-- menuitem-->
  !endif
  !if $doc!=$helpd
     <span class="menuitem">
    !!!ne pas utiliser oneitem, ne fonctionne pas
      !set wims_ref_class=doch_help
      !if $editable=yes and $printable!=yes
        !href target=wims_help module=$module&cmd=new&job=read&doc=$helpd $wims_name_doch_help
      !else
       !href target=wims_mhelp module=$module&cmd=help&special_parm=doc $wims_name_doch_help
      !endif
      !reset wims_ref_class
    </span><!-- menuitem-->
      !if _mfeed notin $wims_session
    <span class="menuitem">
    !!!ne pas utiliser oneitem
      !set wims_ref_class=doch_about
      !href target=wims_mhelp module=$module&cmd=help&special_parm=about $wims_name_doch_about
      !reset wims_ref_class
    </span><!-- menuitem-->
     !endif
  !endif
 !!endif
</div> <!--menu -->
<!-- end _widgets/docheadermenu.phtml -->
