<!-- _widgets/sequence.phtml -->

<div id="widget_sequence">

  !if $seq_cnt >1 and $seq=$empty
    !if $jquery_defined=yes
      !read adm/tabscript sequence
    !endif
    !set seq_reverse=!defof sequence_reverse in wimshome/log/classes/$wims_class/seq/.def
    <ul id="wims_seq_summary">
    !for i=1 to $seq_cnt
      !if $seq_reverse=yes
        !set u=$[$seq_cnt+1-$i]
      !else
        !set u=$i
      !endif
      !set seq_=!record 1 of wimshome/log/classes/$wims_class/seq/.sequence$u
      !distribute line $seq_ into tis_,cos_,obj_,o_
      !if $o_>0
        !if $tis_!=$empty
          <li><a href="#wims_seq_$u">$tis_</a></li>
        !else
          <li><a href="#wims_seq_$u">$wims_name_sequence $u</a></li>
         !endif
      !endif
    !next
    </ul>
  !endif

  !if $seq>0
    !read ./sequence.phtml $seq
    !reset seq
  !else
    !for i=1 to $seq_cnt
      !if $seq_reverse=yes
        !set u=$[$seq_cnt+1-$i]
      !else
        !set u=$i
      !endif
      !read ./sequence.phtml $u
    !next
  !endif
</div>

!read adm/class/seq_legend.phtml

!if $seq_cnt>0
  !read themes/_widgets/user_varsheet.phtml
  !read themes/_widgets/user_varexam.phtml
!endif

<!--end  _widgets/sequence.phtml -->