<!-- _widgets/supervisorvote.phtml -->
!for i=1 to $votecnt
  !set sh=!record $i of wimshome/log/classes/$wims_class/vote/.votes
  !distribute lines $sh into st_,ti_,op_,re_
  $table_tr
   <td class="wims_vote_item">$wims_name_Vote $i</td>
   <td>
  !href module=adm/vote&job=read&vote=$i $ti_
   </td>
  !if $seq_open=yes
    !read themes/_procs/supervisorseq.proc vote,$st_
  !endif
   <td class="wims_status_$st_">$(wims_name_shstatus[$[$st_+1]])</td>
   <td>
  !set wims_ref_class=wims_button
  !href module=adm/vote&job=edit&gstep=0&vote=$i $wims_name_change
   </td>
  </tr>
!next i
<!-- end _widgets/supervisorvote.phtml -->
