
!if $wims_read_parm=$empty
  !set tmp=wimstopbox
!else
  !set tmp=!word 1 of $wims_read_parm
!endif
<div class="wims_topback">
    <a id="back-to-top" href="#$tmp" title="$wims_name_top_page"><span class="hidden_text">$wims_name_top_page</span></a>
</div>
!if $jquery_defined=yes
  <script>
    $$('#back-to-top').on('click', function(e) {
      e.preventDefault();
      $$('html,body').animate({
        scrollTop: 0
      }, 700);
    });
  </script>
!endif