!set list_activities=$wims_name_Sheet,$wims_name_Examen,$wims_name_doc
!set list_activities_js=!replace internal ' by \' in $list_activities
<script>
  var iEdit=window.opener.iEdit;
  function addsheet(num,msg){
    iEdit['$cible'].disable();
    var ta1=window.opener.document.getElementById('$cible');
    ta1.value=ta1.value+' $(list_activities_js[1]) n<sup>o</sup> '+num+' : \\exercise{module=adm%2Fsheet&+sh='+num+'}{'+msg+'}';
    iEdit['$cible'].enable();
  }
  function addexam(num,msg){
    iEdit['$cible'].disable();
    var ta1=window.opener.document.getElementById('$cible');
    ta1.value=ta1.value+' $(list_activities_js[2]) n<sup>o</sup> '+num+' : \\exercise{module=adm%2Fclass%2Fexam&+exam='+num+'}{'+msg+'}';
    iEdit['$cible'].enable();
  }
  function addfile(msg){
    iEdit['$cible'].disable();
    var ta1=window.opener.document.getElementById('$cible');
    ta1.value=ta1.value+'\\href{'+msg+'}{'+msg+'}';
    iEdit['$cible'].enable();
  }
  function adddoc(num,msg){
    iEdit['$cible'].disable();
    var ta1=window.opener.document.getElementById('$cible');
    ta1.value=ta1.value+' $(list_activities_js[3]) : \\exercise{module=adm%2Fdoc&+job=read&+doc='+num+'}{'+msg+'}';
    iEdit['$cible'].enable();
  }
  function addpdoc(num,msg){
    iEdit['$cible'].disable();
    var ta1=window.opener.document.getElementById('$cible');
    ta1.value=ta1.value+' $(list_activities_js[3]) : \\exercise{module='+num+'}{'+msg+'}';
    iEdit['$cible'].enable();
  }
</script>
!read lang/names.phtml.$moduclass_lang

<p>$name_Add</p>
!let nb=!itemcnt $sheet_nums
!if $nb!=0
  $wims_name_Sheet:<br />
  !for i in $sheet_nums
   !set title_js=!replace internal ' by \' in $(sheet_titles[$i])
   <a href="javascript:addsheet($i,'$title_js');">$(sheet_titles[$i])</a> ;
   $
  !next i
!endif

!let nb=!itemcnt $exam_nums
!if $nb!=0
  <p>
  $wims_name_Examens:<br />
  !for i in $exam_nums
   !set title_js=!replace internal ' by \' in $(exam_titles[$i])
   <a href="javascript:addexam($i,'$title_js');">$(exam_titles[$i])</a> ;
 $
  !next i
  </p>
!endif

!if $nbfile > 0
 <p>
  $wims_name_addfile:<br />
  !for i=1 to $nbfile
   <a href="javascript:addfile('$(file_titles[$i])');">$(file_titles[$i])</a> ;
 $
  !next i
 </p>
!endif

!if  $nbdocs+ $nbpdocs >0
<p>
 $wims_name_Docs:<br />
  !if $nbdocs > 0
   !for i=1 to $nbdocs
     !set title_js=!replace internal ' by \' in $(doc_titles[$i])
     !if $title_js!=
   <a href="javascript:adddoc('$(doc_nums[$i])','$title_js');">$(doc_titles[$i])</a> ;
 $
     !endif
   !next i
  !endif

 !if $nbpdocs > 0
  !for i=1 to $nbpdocs
    !set title_js=!replace internal ' by \' in $(pdoc_titles[$i])
    !if $title_js!=
      <a href="javascript:addpdoc('$(pdoc_adds[$i])','$title_js');">$(pdoc_titles[$i])</a> ;
  $
    !endif
  !next i
 !endif
</p>
!endif

