!if $noarch=yes
  $name_restore5
  !exit
!endif

!if $job2!=first
  !changeto arch/$job2.phtml
!endif


<fieldset class="property_fields">
  <legend>$name_title_save</legend>
  <div class="field box">
    !set wims_ref_class=wims_button_help float_right
    !href cmd=help&special_parm=download $wims_name_help

    !if $name_cnil_warning!=$empty
      <div class="wims_msg warning">
        $name_cnil_warning
      </div>
    !endif
    $name_intro

    !set wims_ref_class=wims_label
    !href cmd=reply&job=arch&job2=download&selection=all&format=zip zip
    ,
    !set wims_ref_class=wims_label
    !href cmd=reply&job=arch&job2=download&selection=all&format=tgz tgz
     $wims_name_or
    !set wims_ref_class=wims_label
    !href cmd=reply&job=arch&job2=download&selection=all&format=tar.gz tar.gz
    .
  </div>
</fieldset>

<fieldset class="property_fields">
  <legend>$name_title_restore</legend>

  !set wims_ref_class=wims_button_help float_right
  !href cmd=help&special_parm=upload $wims_name_help

  !if $test_sharing!=$empty
    <div class="wims_msg alert">
      $(name_forbiddenrestore).
    </div>
    !goto end_restore
  !endif

  !set wims_form_method=file
  !form reply
    <input type="hidden" name="job" value="arch" />
    <input type="hidden" name="job2" value="upload" />
    <div class="field box">
      <label for="wims_deposit">$name_intro1</label>
      <input type="file" name="wims_deposit" id="wims_deposit" size="40" />
      <div class="formHelp">$name_help</div>
      <div class="wimscenter">
        <input type="submit" value="$wims_name_send" />
      </div>
    </div>
  !formend
:end_restore
</fieldset>
