
<div class="wims_msg info">
  !read lang/names.phtml.$moduclass_lang auth1
</div>

!form reply
  <div class="wimscenter wimsform">
    <input size="12" name="repcode" />
    <input type="submit" value="$wims_name_tosave" />
  </div>
!formend

<div class="wims_msg info">
  !read lang/names.phtml.$moduclass_lang auth2
</div>
