!read lang/new.phtml.$moduclass_lang

!if $supertype=4 and $classdepth<=3
  <div class="wimscenter">
  !href module=adm/class/gateway $wims_name_struct
  </div>
!endif
<h2>$name_title_saveman</h2>
<ul class="wims_nopuce">
<li>
!href cmd=reply&job=connectlink $name_connectlink
 ($name_connectlinkhelp)
</li><li>
!href cmd=reply&job=arch&job2=first $wims_name_save
 $ ($name_load)
</li><li>
!href cmd=reply&job=security $wims_name_config_secure
  $name_change
!href module=adm/class/passwd $wims_name_config_passwd
</li><li>
!href cmd=reply&job=clean $name_clean
</li><li>
$name_index
 $
!set wims_ref_class=wims_button_help
!href cmd=help&special_parm=index $wims_name_help
!if $class_type=4
  !set wims_ref_class=wims_button
  !href cmd=reply&job=index&job2=structure $wims_name_zones
 $
!endif
 $
!if $class_type=4 or $class_type=2
  !set wims_ref_class=wims_button
  !href cmd=reply&job=index&job2=teacherlist $wims_name_teachers
 $
!endif
!set wims_ref_class=wims_button
!href cmd=reply&job=index&job2=userlist $wims_name_participants
 $
!set wims_ref_class=wims_button
!href cmd=reply&job=index&job2=oef $wims_name_exercises
 $
!set wims_ref_class=wims_button
!href cmd=reply&job=index&job2=doc $wims_name_docs
</li></ul>
 <h2>$wims_name_configuration</h2>
$name_remconfig
<ul class="wims_nopuce">
!if $class_type iswordof 2 3 4
  <li>
  !href cmd=reply&job=propagate $name_dependant_zone
  </li>
!endif
!if $classdepth<=1
  <li>
  !href cmd=reply&job=authtype $wims_name_config_auth
$ ($name_useauth)
  </li>
!endif
<li><strong>$name_newrem1</strong>
<ul><li>
!href cmd=reply&job=list $wims_name_config_list
$ ($name_param),
</li><li>
!href target=wims_help module=adm/class/sequence&job=config $name_seq
 ($name_seqrem)
</li><li>
!href cmd=reply&job=oefdefault $wims_name_config_oef
 ($name_oefrem)
</li><li>
!href cmd=reply&job=present $wims_name_config_present
$ ($name_apparence)
</li>
 </ul></li>
 <li><strong>$wims_name_classtools</strong> ($name_newrem2)
  <ul><li>
!href target=wims_help module=adm/forum/mboard&job=config $name_forum
</li><li>
!href target=wims_help module=adm/class/motd $name_motd
</li><li>
!href target=wims_help module=adm/class/cdt&job=config $name_cdt
</li><li>
!href target=wims_help module=adm/class/livret&job=config $name_livret
</li></ul>
</li>
<li><strong>$name_title_access</strong></li>
<li>
<ul><li>
!href cmd=reply&job=access $wims_name_config_restr
 ($name_restriction1)
</li><li>
!href cmd=reply&job=grestrict $wims_name_config_score
$ ($name_restriction2).
!!$name_score.
</li></ul></li>
<li><strong>$name_title_other</strong>
<ul>
!if $class_type!=2
  <li>
  !href cmd=reply&job=neighbor&job2=first $wims_name_config_neigh
  ($name_neigh),
  </li>
!endif
<li>
!href cmd=reply&job=connect&job2=first $wims_name_config_otherserver
 ($name_link).
</li></ul>
</li>
</ul>
<p>
!set t_=!defof module_title in wimshome/public_html/modules/adm/light/pages/useropts.phtml.$lang
!href target=wims_help module=adm/light&phtml=useropts.phtml.$lang $t_
 ($name_pref).
 </p><p>
$name_disk: $du MB. ($name_limit2 $wims_class_quota MB.)
</p>
