<fieldset id="intromenu_nonexpert" class="oef_expert property_fields blockcenter">
  <legend>$name_score_setup</legend>
  <div class="field">
    <label for="qcmlevel">$name_levelseverity:</label>
    !default qcmlevel=$(default_choice[2])
    !formselect qcmlevel from 1 to 9
    <div class="formHelp">$name_warning_levelseverity</div>
  </div>
</fieldset>
