!! teacher account
!form reply
<input type="hidden" name="job" value="$job" />

!if $auth_method notitemof $auth_method_list
  !if $login=$empty
    <div class="wimscenter">$name_addteacher</div>
  !else
    <div class="wimscenter">$wims_name_modteacher <span class="tt wims_login">$login</span></div>
  !endif
  <fieldset class="property_fields halfwidth blockcenter">
   <legend>$wims_name_properties</legend>
   <div class="field box">
  !if $login=$empty
    !set tmp_require=
    !!required="required"
     <label for="login">$wims_name_Login</label>
     <input size="30" name="login" value="" id="login" $tmp_require/>
  !else
    !set tmp_require=$empty
    <strong>$wims_name_Login</strong>
    <span class="tt wims_login">$login</span>
  !endif
   </div>
   <div class="field box">
    <label for="pass">$wims_name_Password</label>
    <input type="password" size="30" name="pass" value="" id="pass" $tmp_require />
   </div>
   <div class="field box">
    <label for="pass2">$wims_name_repeat_pass</label>
    <input type="password" size="30" name="pass2" value="" id="pass2" $tmp_require />
   </div>
   <div class="field box">
    <label for="firstname">$wims_name_firstname</label>
    <input size="30" name="firstname" value="$firstname" id="firstname" $tmp_require/>
   </div>
   <div class="field box">
    <label for="lastname">$wims_name_lastname</label>
    <input size="30" name="lastname" value="$lastname" id="lastname" $tmp_require />
   </div>
   <div class="field box">
    <label for="email"> $wims_name_email</label>
    <input size="30" name="email" value="$email" id="email" />
   </div>
!else  ### auth_method isitemof $auth_method_list
  !if $login=$empty
    !set tmp_require=
    !!required="required"
    <div class="wimscenter">$name_addteacher</div>
  !else
    !set tmp_require=
    !set user_external_auth=!getdef user_external_auth in wimshome/log/classes/$wims_class/.users/$login
    <div class="wimscenter">$wims_name_modteacher</div>
  !endif
  <fieldset class="property_fields halfwidth blockcenter">
  !if $login!=$empty
    <div class="field box">
     <label>$wims_name_Login</label>
      <span class="tt wims_login">$login</span>
      <div class="formHelp">$name_internal</div>
    </div>
  !endif
    <div class="field box">
     <label for="user_auth">$wims_name_Login</label>
     <input size="30" name="user_auth" value="$user_external_auth" id="user_auth" $tmp_require />
     <div class="formHelp">$name_external,
      <span class="wims_warning wims_small_remark">$name_login_external
  !if $idp_method isitemof $idp_method_list
    ($name_idp_external)
  !endif
      </span>
     </div>
   </div>
  !!replace ldap by $idp_method2??
  !if $idp_method notitemof ldap
    <div class="field box">
      <label for="firstname">$wims_name_firstname</label>
      <input size="30" name="firstname" value="$firstname" id="firstname" $tmp_require />
      <label for="lastname">$wims_name_lastname</label>
      <input size="30" name="lastname" value="$lastname" id="lastname" $tmp_require />
    </div>
    <div class="field box">
      <label for="email"> $wims_name_email</label>
      <input size="30" name="email" value="$email" id="email"/>
    </div>
  !endif
!endif
!if $user_participate!=$empty
  <div class="field box">
    <label>$name_inscript</label>
    <span class="tt">$user_participate</span>
  </div>
!endif
!set user_supervisable=!getdef user_supervisable in wimshome/log/classes/$wims_class/.users/$login
!if $user_supervisable=yes
  !set user_supervise=!getdef user_supervise in wimshome/log/classes/$wims_class/.users/$login
  <div class="field box">
   <label for="up_supervise">$name_gestion</label>
   <input size="60" name="up_supervise" id="up_supervise" value="$user_supervise" />
   <div class="formHelp"><span class="tt">$wims_class/1/101, ... </span></div>
  </div>
!endif
<div class="wimscenter wimsform">
 <input type="submit" name="confirm" value="$wims_name_tosave" />
 $
!set wims_ref_class=wims_button wims_secondary_button
   <input type="submit" name="cancel" value="$wims_name_giveup" />
  </div>
 </fieldset>

!formend
