/*
Jalon Icon Theme for WIMS, based on Tango Icon Set.
http://tango.freedesktop.org/
*/

.menuitem a, .icon_button span,
.menuitem h2, .text_icon{
	background-repeat:no-repeat;
  background-position:3px 50%;
	/*background-position:0 50%;*/
	line-height:24px;	/* here you put the height of your  icon set*/
	padding-left:26px;  /* and here the width, plus a small space (1-2px)*/
  display:inline-block;
}

.breadcrumbs>.menuitem>a,.breadcrumbs>.menuitem>.text_item{
  padding-left:1.5em;
  background-position-x:0;
}

.footer .menuitem a,
#wimstopbox .menuitem a{
  line-height:24px;
  background-position-y:50%;
}
.menuglobal .menuitem a{
  background-size: 1.4em;
  min-height: 1.4em;
  line-height: 1.4em;
  padding-left:1.6em;
}
.menuitem>.text_item{
  background-repeat:no-repeat;
  background-size: contain;
  padding-left:1.5em;
}

.menuitem a:hover, .icon_button:hover{
  opacity:.8;
}
.menuitem a:active, .icon_button:active{
  opacity:.5;
}

.text_icon{
  /*line-height:24px;*/
  background-position:2px 50%;
  border:thin solid #CCC;
  padding-top:2px;
  padding-bottom:2px;
  padding-right:2px;
  padding-left:26px;
}


.SE_config{background-image:url(SE_config.gif);}
.SE_mod{background-image:url(SE_mod.gif);}

.SE_secu{background-image:url(SE_secu.gif);}
.config_neigh,.U_oclass{background-image:url(U_oclass.gif);}
.V_Chpref{background-image:url(V_Chpref.gif);}
.about, .doch_about{background-image:url(about.gif);background-size: 18px;}
.account, .participantview{background-image:url(users.png);}
.account_property{background-image:url(account_property.gif);}
.activity, .connected{background-image:url(mouse.gif);}

.add,      .add_doc,
.add_ex,   .add_exam,
.add_exo,  .add_sheet,
.add_vote, .addclass,
.addfile,  .addlevel,
.duplicateexam, .duplicatesheet,
.addprog, .addexo, .addsexo, .addh, .adddoc
  {background-image:url(add.gif);}

.adddate{background-image:url(adddate.gif);}

.addstudent, .add_competence,
.Creation, .classcreate,
.createnew, .regmanage
  {background-image:url(add2.gif);}
.cpexam, .cloneclass{background-image:url(whelp.gif);}
.addteacher{background-image:url(add.gif);}
.addtodo{background-image:url(add.gif);}
.back , .classback{background-image:url(back.gif);}
.back2, .moduback{background-image:url(back2.gif);}
.back3{background-image:url(back3.gif);}
.config_oef, .backcreatexo{background-image:url(createxo.gif);}
.close, .backgateway, .scoreclose2{background-image:url(backgateway.gif);}
.backstruct{background-image:url(back.gif);}
.binfile, .filemode{background-image:url(binfile.gif);}

.reorder, .browse, .normalmode
  {background-image:url(browse.gif);}

.cdt, .Createqcm,
.Confia2qcm, .classlist,
.docgestion, .ent,
.formula, .SE_part,
.struct, .workdetail,
.coordclick, .cgu,
.config_present, .config_list
  {background-image:url(generic.gif);}

.checkdiff{background-image:url(checkdiff.gif);}
.class_home{background-image:url(home.gif);}
.class_stat{background-image:url(class_stat.gif);}

.config{background-image:url(config.gif);}
.classexo,.createxo{background-image:url(createxo.gif);}
.csv{background-image:url(csv.gif);}
.delprep{background-image:url(delprep.gif);}
.docanswer{background-image:url(docanswer.gif);}

.dochelp,.docoef{background-image:url(doc.gif);}

.docslib{background-image:url(docslib.gif);}
.download,.downloadbinary{background-image:url(download.gif);}

.exit{background-image:url(exit.gif);}
.exolog{background-image:url(save.gif);}
.faq{background-image:url(faq.gif);}
.forum,.forums{background-image:url(forum.gif);}
.Samples, .grades{background-image:url(grades.gif);}
.help,.doch_help{background-image:url(help.gif);}
.home{background-image:url(home.gif);}
.import{background-image:url(import.gif);}
a.intro, .sitegestion{background-image:url(intro.gif);}
.latex2wims{background-image:url(latex2wims.gif);}
/****************** could be used later...
.logo_wims{background-image:url(logo_wims.gif);}
.logo_wims_C2i{background-image:url(logo_wims_C2i.gif);}
.logo_wims_fond{background-image:url(logo_wims_fond.gif);}
*************************/
.config_otherserver,.mirror{background-image:url(mirror.gif);}
.otherfiles,.mod_modif, .votemod{background-image:url(mod_modif.gif);}
.mod_new{background-image:url(mod_new.gif);}
.mod_sys, .refresh{background-image:url(mod_sys.gif);}
.modcontent{background-image:url(open_folder.gif);}
.model, .modellist{background-image:url(model.gif);}
.edfile, .exomodify, .modify{background-image:url(modify.gif);}
.modlist, .vote, .mainpage{background-image:url(modlist.gif);}
.modsave{background-image:url(save.gif);}
.modtool{background-image:url(modtool.gif);}
.myscore, .livret,
.part_list,.SE_list,
.usermanage,.Score1
  {background-image:url(score.gif);}

.n_E{background-image:url(n_E.gif);}
.n_H{background-image:url(n_H.gif);}
.n_U{background-image:url(n_U.gif);}
.n_authparticipant{background-image:url(n_authparticipant.gif);}

.config_auth, .config_secure,
.n_authsupervisor, .config_restr
  {background-image:url(n_authsupervisor.gif);}

.n_example{background-image:url(n_example.gif);}
.n_participant{background-image:url(n_participant.gif);}
.n_supervisor{background-image:url(n_supervisor.gif);}
.passwd{background-image:url(passwd.gif);}
.pref{background-image:url(pref.gif);}
.print{background-image:url(print.gif);}
.printable, .doch_printable{background-image:url(printable.gif);}
.properties{background-image:url(properties.gif);}
.publish{background-image:url(publish.gif);}
.putclass, .putmodtool, .putsource{background-image:url(save.gif);}
.quicktool{background-image:url(quicktool.gif);}

.techvar,.getraw,
.rawdata,.scripttest,
.rawmode,.sheetsource,.doctec
  {background-image:url(terminal.gif);}

.ref, .doch_reload{background-image:url(ref.gif);}
.renew{background-image:url(renew.gif);}
.replace, .restore{background-image:url(restore.gif);}
.resume{background-image:url(resume.gif);}
.rss,.rss_modif,.rss_new{background-image:url(rss.gif);}
.save{background-image:url(save.gif);}
.config_score,.scores{background-image:url(score.gif);}
.Searching, .search{background-image:url(search.gif);}
.sheet{background-image:url(sheet.gif);}
.sheetmanagement{background-image:url(sheetmanagement.gif);}
.stat{background-image:url(stat.gif);}

.test, .sheetcheck,
.testexo{background-image:url(test.gif);}
.config_clean,.titleintro{background-image:url(titleintro.gif);}
.tools{background-image:url(tools.gif);}
.visitor{background-image:url(exit.gif);}
.whelp{background-image:url(whelp.gif);}
.work{background-image:url(work.gif);}

.mail, .wsup, .sendmail{background-image:url(wsup.gif);}

/* Prevents icons being displayed twice */
.menuitem {background-image:none;}
