!read adm/title.phtml 1\
$classname\
$wims_name_recover

!if $delcnt<1
  <p>$name_empty</p>
!else
  $name_click
  $table_header
  $table_hdtr<th>$wims_name_Login</th><th>$wims_name_name</th></tr>
  !for i in $deleted
    !set names=!getdef user_lastname, user_firstname in wimshome/$userdir/.$i
    $table_tr
      <td>
        !href cmd=reply&job=recover&getuser=$i $i
      </td>
      <td>$names</td>
    </tr>
  !next i
  $table_end
!endif

!set wims_menu_items=!append line part_list,1,cmd=resume\
to $wims_menu_items
