!if yes isin $sectest
  <div class="wims_msg warning">
    <strong class="wims_warning">$wims_name_warning!</strong> $name_warning
  </div>
!endif

$name_online
!set catcnt=!recordcnt lang/cat.$modu_lang
!set cat1cnt=!recordcnt lang/cat1.$modu_lang
!for i=1 to $cat1cnt
  !set l=!record $i of lang/cat1.$modu_lang
  !distribute lines $l into x1_$i,y1_$i
!next i
!for i=1 to $catcnt
  !set l=!record $i of lang/cat.$modu_lang
  !distribute lines $l into x_$i,y_$i
!next i


<div id="widget_conf_list">

<ul class="wims_summary inline">
  <li><a href="#configuration">$name_configuration</a></li>
  <li><a href="#checklist">$name_checklist</a></li>
  <li><a href="#checkmaintain">$name_checkmaintain</a></li>
  <li><a href="#various">$name_various</a></li>
</ul>

<div id="configuration">
  <h2>$name_configuration</h2>
  <ul>
    !for i in 1,7,2,3,4
      <li>
      !href cmd=reply&job=conf&confcat=$i $(y_$i)
      </li>
    !next i
  </ul>

  <ul><li>
  !for i in 6
    !href cmd=reply&job=conf&confcat=$i $(y_$i)
  !next i
  </li></ul>

  <ul>
    !for i in 8,9
      <li>
      !href cmd=reply&job=conf&confcat=$i $(y_$i)
      </li>
    !next i
  </ul>

  <ul>
    !for i in 12,10
      <li>
      !href cmd=reply&job=conf&confcat=$i $(y_$i)
      </li>
    !next i
  </ul>

  <ul><li>
    !for i in 13
      !href cmd=reply&job=conf&confcat=$i $(y_$i)
    !next i
  </li></ul>
</div>

<div id="checklist">
  <h2>$name_checklist</h2>
  <ul>
    <li>
      !href cmd=reply&job=attrib $(y1_1)
    </li>
    !for i in 5,11
    <li>
     !href cmd=reply&job=conf&confcat=$i $(y_$i)
    </li>
    !next i
  </ul>
</div>

<div id="checkmaintain">
  <h2>$name_checkmaintain</h2>
  <ul><li>
    !href cmd=reply&job=class&job2=first $(y_2)
    </li><li>
    !href cmd=reply&job=classrestore $name_restore_class
    </li><li>
    !href cmd=reply&job=developer&job2=first $(y1_3)
    ($wims_name_modtool)
    </li><li>
    !href module=adm/doc $(y_3)
    </li>
    <li>
    !href cmd=reply&job=modules&job2=first $(y1_4)
     $
    !!href cmd=reply&job=mkindex $(y1_5)
    !! ($name_mkindex).
    </li>
  </ul>
</div>

<div id="various">
  <h2>$name_various</h2>
  <ul>
     <li>
    !href cmd=reply&job=sendmail $(y1_11)
    </li><li>
    !href cmd=reply&job=activ $(y1_2)
    </li>
  </ul>

  <ul>
    <li>
    !href cmd=reply&job=backup&job2=first $(y1_6)
    </li><li>
    !href cmd=reply&job=upload $(y1_7)
    </li>
  </ul>
  !! !href cmd=reply&job=otherdownload $(y1_9)
  <ul>
    </li><li>
    !href cmd=reply&job=update&job2=first $(y1_8)
    </li><li>
    !href cmd=reply&job=fs&job2= $(y1_10)
    </li>
  </ul>
</div>

!! old version
!!!for i=1 to $catcnt
!! !if $i notwordof 5 11
!! !href cmd=reply&job=conf&confcat=$i $(y_$i)
!! $
!!!endif
!!!next i
</div>

!! Jquery tabs
!read adm/tabscript conf_list

<div class="wimscenter">
 !read adm/QRcode.phtml $(wims_ref_name)?
 <br />
</div>

!reset fsdir
