!header1

!if $cmd=help and $special_parm=about
  !read about.phtml
  !goto end
!endif

!if $cmd=help
  !read help.phtml
  !goto end
!endif

!if $cmd=new and $special_parm=module_updates
  !read module_updates.phtml
  !goto end
!endif

!read adm/title.phtml 1\
WIMS @ $httpd_HTTP_HOST\
$(module_title_$lang)

!if $sitestart=$empty
  <p class="wims_msg warning">$name_warning</p>
  !goto end
!endif
!if $show=yes and $total_site>0 and $laps>0
  !if $wims_theme_version=
    !href cmd=resume $wims_name_menuback
  !endif
  <div>
    !read answer.phtml
    !set wims_menu_items=!append line back2,1,cmd=resume\
    to $wims_menu_items
  </div>
!else
  !if $usercnt>0
    <p>$name_numberclass</p>
  !endif
  !read menu.phtml
!endif

:end
!!!homeref
!tail

!set stat_module=
