!form reply
  !set s_day=$name_day
  !set s_week=$name_week
  !set s_month=$name_month
  !set s_year=$name_year
  !read adm/date.phtml date,$start_year,$start_month,$start_day
  !set s_beginning=$name_beginning $c_date_out
  !set name2=$name_requests
  !set name3=$name_sessions
  !set name4=$name_visitors
  <fieldset class="property_fields blockcenter"><legend>$wims_name_setup</legend>
    <div class="field box">
      <label for="cnt">$name_choose</label>
      <select name="cnt" id="cnt">
      !for i=1 to 15
        <option value="$i"
          !if $i=$cnt
            selected="selected"
          !endif
        >$i</option>
      !next i
      </select><select name="style">
      !for i in day,week,month,year,beginning
        <option value="$i"
        !if $i=$style or ($i=week and $style=$empty)
          selected="selected"
        !endif
        >$(s_$i)</option>
      !next i
      </select>.
    </div>
    <div class="field box">
      <strong>$name_plot</strong>
      !for i=2 to 4
        <input type="radio" name="plot_type" id="plot_type$i" value="$i"
        !if $i=$plot_type
          checked="checked"
        !endif
        /><label for="plot_type$i"> $(name$i)</label> &nbsp;
      !next i
    </div>
    <div class="field box">
      <label for="modules">$name_details</label>
      <input type="checkbox" name="modules" id="modules" value="yes"
      !if $modules=yes
        checked="checked"
      !endif
      />
    </div>
  </fieldset>
  <div class="wimscenter wimsform"><input type="submit" value="$name_showstat" /></div>
!formend

!set modules=
