/* molecule, flasks, algebra */

.icon_molecule {
  background-image:url("/wims/gifs/domains/sciences/molecule.svg")
}

.icon_flasks {
  background-image:url("/wims/gifs/domains/sciences/flasks.svg")
}

.icon_algebra{
    background-image:url("/wims/gifs/domains/sciences/algebra.svg");
}
