.main_body>.ui-dialog{
  /* moves jquery-ui dialog box over everything else (even jmol applet) */
  z-index: 10001;
}


/* OEF STYLES */
#oef_intro_params {
   border-color: #BBB gray gray #BBB;
   border-radius: 10px;
   border-style: solid;
   border-width: 1px;
   margin: 1em auto;
   padding: 0;
   width:80%;
}
#oef_intro_params .legend{
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
#oef_intro_params label{font-weight:bold;}
#oef_intro_params .field {
   /*margin: 1em 0;*/
   padding: .5em 1em;
}
#oef_intro_params select#exo{width:100%;}

.oef_intro_buttons{text-align: center;}
#oef_devel_mode{font-size:small;}
.oefform .send_answer, #oef_actions{text-align: center;}
#oef_actions{margin:1em 0;}
#oef_actions p{margin:.2em;}

/*.oefhint {padding-top: 2px;}*/

.oefreply {margin:1em;}
/*.oefanswer {}
.oef_modulescore { }
.oef_congratulations { }*/

.oefanswer table {
   font-size: .9em;
   border-collapse:collapse;
}
.wims_oef_input {
   padding-top: 2px;
   padding-right: 1px;
   padding-bottom: 2px;
   padding-left: 1px;
   font-weight:bold;
   font-size: 1.2em;
}
.oefanswername {font-size: 125%;}
.oefstatement{
   border: 1px groove ThreeDFace;
   padding:5px;
}
.oefstatement table {border-collapse:collapse;}

#answeranalysis {
   border : 1px groove ThreeDFace;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.legend{
   margin-top:0;
   padding:0.5em 1em;
   border-bottom: 1px groove ThreeDFace;
   text-align:center;
   font-weight:bold;
   /*border-radius:10px;
   border-bottom-right-radius:0px;
   border-bottom-left-radius:0px;
   -moz-border-radius: 10px;
   -moz-border-radius-bottomright:0px;
   -moz-border-radius-bottomleft:0px;
   -webkit-border-radius:10px;
   -webkit-border-bottom-right-radius:0px;
   -webkit-border-bottom-left-radius:0px;*/
}
#answeranalysis .content {padding:1em;}
.oefform {padding:.5em;}
.oefnameexo {display:inline; font-style: italic;}
/* answer analysis*/
.feedback {
    background-color: #FFFFFF;
    border-color:#EEE;
    border-color: rgba(0, 0, 0, .1);
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .25) inset;
    margin-right: 15em;
    padding: .5em;
}


/* OEF Colors legend */
#oef_indlegend ul { padding-left:1em; }
#oef_indlegend li { list-style: none; }
#oef_indlegend li:first-letter{text-transform: capitalize}
#oef_indlegend li:before {
  content:"\00B7";
  font-size:70px;
  vertical-align:middle;
  line-height:1.5rem;
}

/* this class must stay empty  */
.oef_empty { }

/* for exercice modules in preparation (not OEF)*/
/*.module_score { }
.statement { }
.congratulations { }*/

/* for latex solution in print version */
/*div.wims_solution {}*/
/* table of questions in case of noembedding */
.oefnoembed td {
   min-width:70px;
   margin-top:5px; margin-bottom:5px;
}

ul.oef_filter {list-style:none}
/* link in the help on the oef special method help must be left to the exercise*/
/*.oef_specialhelp { }*/

/*** ANSTYPES ***/

/** dragfill/clickfill **/
.drag_label{
  /*display:inline-block;*/
  padding:2px;
  border:1px solid;
  box-sizing: border-box;
  margin:1px;
  background-color:#87ceeb;
  overflow: auto;
}
.fill_container{
  display: flex;
  flex-flow: row wrap;
  font-family:sans-serif;
  background-color:#ffd080;
  margin:2px;
}
.wims_grabbable{
  background-color:#87ceeb;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
}
/* Apply a "closed-hand" cursor during drag operation. */
.wims_grabbable:active {
  cursor: grabbing;
}
.wims_droppable{
  cursor: pointer;
  background-color:#ffd080;
}
.wims_grabbable:hover, .wims_droppable:hover{
  border-color:#004077;
  font-weight:700;
}
/** prevent selecting text while grabbing **/
.wims_grabbable, .wims_droppable{
  user-select: none;
  -webkit-user-select: none;
  transition: border-color 0.5s, left 0.1s, top 0.1s;
  border:1px solid transparent;
  box-sizing: border-box;
}
/** change the drag_label colors when it indicates a feedback **/
.oef_indgood .drag_label{background-color:#e1faea;}
.oef_indbad .drag_label{background-color:#f7e4e1;}
.oef_indpartial .drag_label{background-color:#fff3d9;}
