
.wims_search_engine {
  /*background: linear-gradient(45deg, rgba(153,153,153,0.2) 0%,rgba(255,255,255,0.5) 100%);*/
  background: radial-gradient(ellipse at center, rgba(153,153,153,.2) 0%,rgba(255,255,255,.5) 100%);
  /*background-image: linear-gradient(rgba(153,153,153,.2) 0%, rgba(255,255,255,.5) 100%);*/
  /*text-align:center;*/
  margin-left:auto; margin-right:auto;
  /*padding: .5em;*/
}
.wims_search_engine>legend{
  font-weight: bold;
  padding: 0 .5em;
}

.wims_search_engine, .wims_search_engine>legend {
  border:thin solid #CCC;
  background-color:#FFF;
}

.search_field {
  margin:.5em;
  text-align: center;
}

.wims_search_engine input[type="search"]{
  line-height: 2em;
  padding: 0 .5em;
  border-radius: 5px 0 0 5px;
  border-width: 1px;
  margin-right: 0;
}
.wims_search_engine button[type="submit"]{
  border-radius: 0 5px 5px 0;
  margin-left: 0;
  padding:0 .5em;
  font-size: inherit;
}
.wims_clearSearch {float:right;}
.wims_search_help {float:right;}
.wims_search_title{text-align:left;}

#slider_level{width:70%;}

/* search forms as in modules/adm/class/classes/search.phtml */
/*.wimssearch { }*/

#searchresult .wims_emph{
  padding-bottom: 0;
}

.wims_home_result_list{
  background-color: white;
  padding: .5em .5em .5em 1.5em;
}

.wims_home_result_list li {
  margin: 0;
  padding: 1em .5em;
  background-color: white;
  list-style-type: none;
}
.wims_home_result_list li:nth-child(odd) {
  background-color: #e5e5e5;
}
