/* Utilities.css  put an explanation for each line as it is used to generate help for css in createxo */
/* check with css.pl when it is changed -> createxo help */

/* @text-right, align to the right */
.text-right{text-align:right;}
/* @text-left, align to the left */
.text-left {text-align:left;}

/* @center, center */
.center, .wimscenter{text-align:center;}
/* @wimscenter, center with margins */
div.wimscenter{ margin:.8em .5em .8em .5em; }
/* */
.wimscenter>.ggbapplet,.wimscenter>[id^="jmolApplet"]{margin:0 auto;}
/* @blockcenter, center a block as a table */
.blockcenter{
  margin-right:auto;
  margin-left: auto;
}

/* */
img.wimscenter { margin-left:auto;margin-right:auto;}
/* @white,background in white */
.white{background-color: white;}
/* @float_right, text float on the right */
.float_right{ float:right;}
/* @float_left, text float on the left */
.float_left{ float:left;}
/* @clearall, use it to stop float for example with br/ */
.clearall{ clear: both;}

/* @clearfix, use it to contain floats without altering what's next.*/
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* @small, text is smaller */
.small { font-size: 90%;}
/* @smaller, text smaller than small */
.smaller { font-size: 70%;}
/* @bold, text in bold */
.bold { font-weight:bold;}
/* @larger, text larger */
.larger { font-size: 120%;}

/* @wims_emph, emphasis some part of the text */
.wims_emph {font-style:italic;font-weight:bold;}

/* @inline, text in line (if you put inline directly on li, there will be no margin)*/
/*.inline{ }*/
div.inline, li.inline {zoom:1;display:inline;display:inline-block;}

/* @inline, Inline general lists */
.inline>li{margin-right:2em;}

/* @inline, Inline Ordered Lists*/
ol.inline{overflow: auto;}
/* */
ol.inline>li {float:left;}
/* */
ol.inline::after {clear: both;}

/* @inline, Inline Unordered Lists */
ul.inline>li{display:inline-block;}

/* @wims_nopuce, list without puce */
.wims_nopuce {list-style-type:none}

/* @spacer, use spacer on div to add extra spaces */
.spacer{
  content: " ";
  display: block;
  padding-top: .6em;
  /* on Mozilla, only margin is taken on <br> (not padding) */
  margin-top: .6em;
  margin-bottom: .6em;
}
/* @spacer,use spacer on lists (ul/ol) to add extra spaces on all li */
ul.spacer>li,ol.spacer>li{
  margin-bottom: .6em;
}

/* @wims_video, default for HTML5 video player */
.wims_video {
  box-sizing: border-box;
  max-width:100%;
  margin:0;
  background-color:#000;
  box-shadow:2px 2px 2px gray;
  white-space: nowrap;
}

/* @wims_audio, default for audio */
.wims_audio:not(.minimal_size) {
  /** each browser has it's own audio player look.*/
  /* audio width can't be below 87px */
  width:50%;
  margin:10px 0;
  padding:0 5px;
}
.wims_audio{
  min-width:87px;
  white-space: nowrap;
}
audio.minimal_size{
  margin:2px;
  /* With Chrome, audio height is always 54px and can't be changed */
  /*height:1.2em;*/
  vertical-align:middle;
}
/* style for emphasing results of the student */

/* @oef_indgood, emphasing results of the student: good answer */
.oef_indgood { color:oef_indgood;font-weight:bold;}
/* @oef_condgood, emphasing results of the student: good condition */
.oef_condgood{ color:oef_condgood;font-weight:bold;}
/* @oef_indbad, emphasing results of the student: bad answer */
.oef_indbad { color:oef_indbad;font-weight:bold;}
/* @oef_condbad, emphasing results of the student: bad condition */
.oef_condbad { color:oef_condbad;font-weight:bold;}
/* @oef_indforget, emphasing results of the student: forgotten item in the answer */
.oef_indforget { color:oef_indforget;font-weight:bold;}
/* @oef_indpartial, emphasing results of the student: partial answer */
.oef_indpartial{ color:oef_indpartial;font-weight:bold;}
/* @oef_indprec, emphasing results of the student: bad precision */
.oef_indprec   { color:oef_indprec;font-weight:bold;}
/* */
.oef_indneutral{font-weight:bold;}

/* @jxgbox, style for including a jsxgraph figure */
.jxgbox {margin-left:auto;margin-right:auto;}
/* */
.jsxgraph_button {text-align:center;}
/* */
.jxgboxchild {margin-left:auto;margin-right:auto;}

/* @wims_contribute, contributor citation or credits */
/* @wims_credits, contributor citation or credits */
.wims_contribute, .wims_credits  {
  padding-top: 10px;
  padding-right:20px;
  text-align:right;
  color:#555;
  font-weight:bold;
  font-size:.8em;
}

/* @wims_instruction, Technical instructions in exercises for example*/
.wims_instruction {
   font-style: italic;font-size:small;
   padding: 1rem;
   margin: 0 auto 1rem auto;
   color: rgb(100,100,100);
   background-color: rgba(230,230,230,.3);
   border: 1px solid silver;
}
/* */
.wims_instruction>h2,.wims_smallhelp>h2{
  display: inline-block;
  padding: .4rem;
  font-size: .8em;
  margin : -.3rem .5em .3em 0;
  background-color: silver;
  color: rgb(80,80,80);
}
/* @wims_difficultylevel, Difficulty level of the exercise or any other hint on the level */
.wims_difficultylevel {
 font-style: italic;
 font-size:small;
 color: rgb(100,100,100);
 background-color: rgba(230,230,230,.3);
 padding: .1em 1px .1em;
}
/* @wims_smallhelp, small help */
.wims_smallhelp {
   font-style: italic;font-size:small;
   margin: 1.5rem .5rem .2rem .5rem;
   color: rgb(100,100,100);
   background-color: rgba(230,230,230,.3);
   border: 1px solid silver;
   padding: 0 5px 1em;
}

/* @wims_smallremark, remark in small */
.wims_smallremark {font-size: small;}

/* @tt, tt*/
.tt{
  font-family: monospace, "Courier New";
  border-left-width: 3px;
  margin: 0;
  padding: 0 3px;
}

