/* chrono, calculator, steps, notebook, measure, complex, listen, quizz */

.icon_chrono{
  background-image:url("/wims/gifs/domains/general/hourglass.svg");
}
.icon_calculator{
  background-image:url("/wims/gifs/domains/general/calculator.svg");
}
.icon_steps{
    background-image:url("/wims/gifs/domains/general/road.svg");
}
/*.icon_guide{
    background-image:url("/wims/gifs/domains/general/studylamp.svg");
}*/
.icon_notebook{
    background-image:url("/wims/gifs/domains/general/notebook.svg");
}
.icon_measure{
    background-image:url("/wims/gifs/domains/general/ruler.svg");
}
.icon_complex{
    background-image:url("/wims/gifs/domains/general/gears.svg");
}
.icon_listen{
    background-image:url("/wims/gifs/domains/general/headphones.svg");
}
.icon_quizz{
    background-image:url("/wims/gifs/domains/general/test.svg");
}
