!read language lang/names
!header

!! 练习的陈述.
!read present.phtml

<hr />

!if $status=waiting
  !if $error!=$empty
    <div class="wims_msg warning">
    !read msg.phtml
    </div>
  !endif
  !! 回答表格
  !read form.phtml
  <p>
  !set wims_ref_class=wims_button wims_secondary_button
  !href exo_Renew
  </p>
!else
  !if $error!=$empty
    <div class="wims_msg warning">
    !read msg.phtml
    </div>
  !endif
  !! 对回答的分析
  !read answer.phtml
  <p>
  !set wims_ref_class=wims_button
  !href exo_Again

  !if $worksheet=$empty
    &nbsp;
    !set wims_ref_class=wims_button
    !href exo_Intro
  !endif
  </p>
!endif

:end
!tail
