
如果你是一个学生, 你的教师为你创建了一个班级, 
你就可以作为参加者在班级里工作.
<p>
为了进入班级, 首先应该
注册
到此班级. 这通常需要从你的教师那里得到班级的密码.
<p>
注册后, 你就可以用你的登录名以及(个人)密码登录到你的班级, 
在其中工作.
<p>
班级内包含一些作业页, 每个作业页包含一批教师指定的练习.
有些作业是计成绩的. 你可在项目上点击以进入.
每完成一个练习就能得到一个分数. 这些分数累计在服务器里,
直到你获得所需的分数. 同时服务器也在计算你的得分的质量并显示在练习的末尾.
你的教师通过这些数据来观察你的进步情况.
你也可把你的成绩与班级平均分比较.

