!for j=1 to $[min($regvars_cnt,$limit_regvars)]
  <div class="field box">
      <label for="regprop$j">$(regvars_class[$j])</label>
      <input size="16" name="regprop$j" id="regprop$j" value="$(regprop$j)" />
  </div>
!next j
