Je kunt pas als leerling/student aan het werk als je docent een klas,cursus of een lesprogramma voor jullie heeft aangemaakt. 
<p>
Om te beginnen moet je je natuurlijk eerst even

aanmelden
 bij deze klas of cursus. 
 <br/>
 Voor besloten klassen is voor het opstarten van de aanmeldings procedure 
  een "klasse wachtwoord" noodzakelijk.
 Dit wachtwoord wordt vertrekt door je eigen docent.
 Vaak kiest een docent echter voor het eigenhandig aanmaken van alle studenten accounts.
 In dat geval kun je een loginnaam & persoonlijk wachtwoord verwachten
  en dus gelijk inloggen als leerling.
<p>
In elk geval, wanneer je ben geregistreerd als leerling van een digischool (portaal), 
een virtuele klas , een cursus of een lesprogramma, 
kun je inloggen in die klas met je persoonlijke wachwoord en loginnaam. 
<p>
Een klas kan het volgende materiaal bevatten:
<ul>
<li>Interactieve les documenten
<li>Werkbladen (worksheets)
<li>Proefwerken (tentamens/examens)
<li>forum
<li>Bericht van de dag
</ul>

Werkbladen bevatten een, door je docent uitgezochte, collectie oefeningen.
Je krijgt aan het eind van een oefening een cijfer. 
<br/>
<small>Sommige werkbladen kennen een minimaal te behalen score. Je moet dan de opgaven
zo lang maken tot de score boven een ingestelde waard komt. 
Digitale toetsen kunnen ook een soort drempel structuur hebben: 
je moet dan bijvoorbeeld voor de eerste 3 sommetjes een gemiddelde score van 7.5 hebben behaald,
voor dat je som 4 mag maken.<small> 
<br/>
Al deze cijfers staan vermeld in je cijferlijst.
Je kunt je cijfers vergelijken met het klasse gemiddelde.
De cijfers van je medeleerlingen staan uiteraard niet vermeld.
Er is ook een cijfer voor de kwaliteit van je werk: hierbij wordt rekening gehouden de cijfer ontwikkeling bij meerdere pogingen.



